VITE_SUPABASE_URL=https://uimuiqebgdettgmaebhi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVpbXVpcWViZ2RldHRnbWFlYmhpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAzNDU4MDQsImV4cCI6MjEwNTkyMTgwNH0.Ewq0nlX3THfBsltkqrScG-2Lb6ONskvZ_n_rh9mnREg
